
.background {
  /* The image used */
  background-image: url("/src/images/BackgroundForMod52.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-background{
  background-image: url('/src/images/BackgroundForMod52.jpg')
}
.feed-card-background {
  background-image: url('/src/images/BackgroundForMod52.jpg');
  max-width: 100%;
}

.logo{
  margin-right: 800px;
  width: 100px;
  height: 50px;
}


.nav-button{
  padding-right: 100px;
}

.card-text{

  text-align: left;
}


.feed-card {
   
    display: flex;
    justify-content: center;
    align-items: center;
  }


.card {
  margin-top: 25px;
}

.my-post-card {
  margin-top: 25px;
  
  margin-left: 500px;
  
}


.new-post-form{

  margin-left: 10px;
}




.whitefont {
  color: 	#C0C0C0
}

.btn{
  margin: 5px;
}

.new-review{
  height: 200px;
  width: 50%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
       

.body{
  padding-bottom: 200px;
}

.rating{
  margin-left: 120px;
}












.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app {
  overflow: hidden;

  width: 100%;
}





















.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.PostCont {
  margin-left: auto;
  margin-right: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.App{
  background-image: url("/src/images/BackgroundForMod52.jpg");
  width: 100%;
  height: 100%;
}

html{
  margin:0;
  padding:0;
  max-height:100vh;

}
